<% include header %>

	<div class="container">
		<div class="col-12">
			<form action="<%= '/'+username+'/new-poll' %>" method="post">
			    <div class="form-group">
			        <label>Question:</label>
			        <input class="form-control" type="text" name="question"/>
			    </div>
			    <div class="form-group" id="option-group">
			        <label>Options:</label>
			        <input class="form-control" type="text" name="options[1]"/>
			        <input class="form-control" type="text" name="options[2]"/>
			    </div>
			    <div class="form-group">
			        <input class="btn btn-info" type="button" onclick="addOption()" value="Add Option" />
			        <input class="btn btn-primary" type="submit" value="Create"/>
			    </div>
			</form>
		</div>
	</div>

<script type="text/javascript" src="/js/new-poll.js"></script>

<% include footer %>